<%= simple_form_for @projectlocation do |f| %>
  <%= f.input :location, label: 'Project Locations' %>
    <div class="form-actions">
	  <%= f.submit "Submit", class: "but btn-primary" %>
	</div>
<% end %>