<div class = "container staticheaderspacing">
	<h3>Explore Projects</h3>
	<div class = "row">
		<div class = "span2">
			<%= render 'pages/exploresidebar' %>
		</div>

		<div class = "span10">
				<%= render @projects %>
				<%= will_paginate @projects %> 
		</div>
	</div>
</div>