
[Desktop Entry]
Encoding=UTF-8
Name=Link to https://stripe.com/img/documentation/connect-button-blue.png
Type=Link
URL=https://stripe.com/img/documentation/connect-button-blue.png
Icon=image-png
Name[en_US]=stripe_connect.png
