<h3>Your donation plan for this project</h3>
<h4>You will be charged at 23/5/2012 </h4>
<div class="control-group">
	<label>Total Amount</label>
	<input type="text" readonly value="<%= @donate_plan.amount %>" />		
</div>
<div class="control-group">
	<label>Setup Amount</label>
	<input type="text" readonly value="<%= @donate_plan.setup_amount %>" />
</div>
