<div class = "afterheaderspacing">
	<h4>Categories</h4>
</div>
<%= render @categories, :param_name => 'categorylist_page' %>

<div class = "afterheaderspacing">
	<h4>Locations</h4>
</div>
<%= render @projectlocations, :param_name => 'projectlocationlist_page' %>