<div id ="backgroundphoto">

	<div class ="staticheaderspacing"></div>
	<br /><br /><br /><br /><br /><br />

	<div class = "container">
	<h1>
		<center class = "homepageheader">
			<p>Lift up the global community.</p>

			<!-- <em>"My food is to do the will of him who sent me and to accomplish his work. Look, I tell you, lift up your eyes, and see that the fields are white for harvest."</em>
			<br />John 4:34-35 -->
		</center>
		<center class = "homepageheader2">
			<p>Share your testimony. Impact this generation.</p>
		</center>
	</h1>
	</div>

</div>