<div class = "container">
	<h2>Frequently Asked Questions</h2>
	
	<h5>
		What does LIFTUP do?
	</h5>
	<p>
		LIFTUP is a crowdfunding platform where people who want to raise money can create fundraising projects to tell their story and get the word out. LIFTUP is also a place to discover what people all over the world are passionate about and how to get involved.
	</p>

	<h5>
		Who uses LIFTUP?
	</h5>
	<p>
		People all over the world are using LIFTUP - both to raise money and to contribute to other people's passions. There is no limitation on who can use LIFTUP as long as you have a valid bank account.
	</p>

	<h5>
		Why do people contribute to projects?
	</h5>
	<p>
		People contribute to campaigns for many reasons, but usually it's because they want to be involved in what the campaign is doing or because they want a tax-deductible contribution.
	</p>

	<h5>
		How much does LIFTUP cost?
	</h5>
	<p>
		LIFTUP is free to join. There is a fee on any money that is raised, which is 2.5% of the money you raise if you meet your goal or 5% if you do not meet your goal.
	</p>


</div>