<div class = "container">
	<h2>Privacy Policy</h2>
	
	<p>
		LIFTUP, Inc. ("LIFTUP," "we," or "us") knows that you care how information about you is used and shared. This Privacy Policy explains what information of yours will be collected by LIFTUP when you use Indiegogo.com and related services (the "Service"), how the information will be used, and how you can control the collection, correction and/or deletion of information. We will not use or share your information with anyone except as described in this Privacy Policy. 
	</p>

	<p>
		If you have questions about the Privacy Policy or would like to suggest improvements, please contact us at privacy@LIFTUP.CO. 
	</p>
</div>