<div class = "container">
	<h2>General Rules of Use</h2>
	
	<p>
		As a condition of your use of the Service as a User or Member, you promise to:
	</p>

	<ul>
		<li>
			Use the Service in compliance with all laws, regulations, ordinances, directives, court orders and this Agreement local and applicable to your use of the Website and Services.
		</li>
		<li>
			Use the Service so as not to damage, disable, overburden or impair the Service, our networks or systems or not to interfere with any others’ legal rights or use or enjoyment of the Service.
		</li>
		<li>
			Ensure you own or have a legal right to use the Member Content with the Service and do not otherwise infringe the Intellectual Property Rights of others. “Member Content” means the content you use to create and manage a campaign, Post or comment on or Contribute to a campaign. “Intellectual Property Rights” mean all worldwide rights in patents, trademarks, service marks, copyrights, trade secrets, publicity, goodwill and all other intellectual property rights as may now exist or hereafter come into existence, and all derivatives, applications therefore and registrations, renewals and extensions thereof.
		</li>
	</ul>
</div>