<a href = "<%= following_project_path(@project) %>">
    Followers/Prayers ( <%= @project.favorited_by.count %> )
</a>

<!-- <div class="stats">
  <a href="<%= following_project_path(@project) %>">
    Followers/Prayers (
    <strong id="followers" class="stat">
      <%= @project.favorited_by.count %>
    </strong>
    )
  </a>
</div> -->